.env
.env.example
.dockerignore
.git
.gitignore
README.md
justfile
assistant.code-workspace

*.wav
model/
*.zip
resources/*.json
resources/*.txt
vosk-model-small-en-us-0.15/
*.cache
*.pyc
LibCST/
output.mp3
.cache
.cache*
ditto.db
ditto.exe
gui.bat
!resources/template_config.json

# environment
.vscode/
*.env
export.sh
config.json
__pycache__

# Mac
*.DS_Store