*.wav
model/
*.zip
resources/*.json
resources/*.txt
vosk-model-small-en-us-0.15/
*.cache
*.pyc
__pycache__
LibCST/
output.mp3
.cache
.cache*
ditto.db
.vscode/
ditto.exe
gui.bat
!resources/template_config.json

# environment
*.env
export.sh
config.json

# Mac
.DS_Store