dload
Flask
flask-cors
gevent
google-cloud-speech
google-cloud-texttospeech
homeassistant-api
lifxlan
matplotlib
nltk
openai
pandas
picovoice
pipwin
plac
playsound
psutil
pvrecorder
pyaudio
pyautogui
pygame
pyserial
python_speech_features
python_weather
pyttsx3
scikit-learn
sounddevice
spacy
spotipy
tensorflow
termdown
vosk
wolframalpha
word2number
python-dotenv
opencv-python