pyttsx3
openai
playsound
sounddevice==0.4.3
google-cloud-speech==2.11.1
spotipy
dload
picovoice
pvrecorder
pipwin
pyserial
termdown
pygame
lifxlan
sklearn
spacy
nltk
python_weather
wolframalpha
word2number
pyautogui