pyttsx3
openai
playsound
sounddevice
google-cloud-speech
google-cloud-texttospeech
spotipy
dload
picovoice
pvrecorder
pipwin
pyserial
termdown
pygame
lifxlan
scikit-learn
spacy
nltk
python_weather
wolframalpha
word2number
pyautogui
vosk
Flask
gevent
flask-cors
psutil
plac
tensorflow
matplotlib
pandas
homeassistant-api