/* import a nice Google font for titles */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

.App-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1.8em;
  margin: 0;
  position: absolute;
  /*scale move to right a little based on device screen size */
  left: 50.5%;
  transform: translateX(-50%);
  /* top: 10px;
  color: white; */
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: height 0.3s ease;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.App-footer {
  display: flex;
  justify-content: center;
  min-height: 10vh;
  padding-bottom: 15px;
}

.Nav-button {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}