.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  transition: height 0.3s ease;
}

.chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.App-footer {
  display: flex;
  justify-content: center;
  min-height: 10vh;
  padding-bottom: 15px;
}

.Nav-button {
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}