@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import "../styles/variables.css";
@import "../styles/components.css";
@import "../styles/global.css";
@import "../styles/platform/ios.css";

.app {
  /* min-height: -webkit-fill-available; */
  width: 100vw;
  background-color: var(--background-primary);
  overflow: hidden;
  position: fixed;
  touch-action: pan-y;
  display: flex;
  flex-direction: column;
}
