.chat-feed {
  background-color: #282c34;
  padding: 10px;
  overflow-y: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message-container {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
  position: relative;
}

.message-container.Ditto {
  flex-direction: row;
}

.message-container.User {
  justify-content: flex-end;
}

.avatar {
  width: 2.0em;
  height: 2.0em;
  border-radius: 50%;
  margin: 0 2px;
}

.chat-bubble {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 15px;
  word-wrap: break-word;
  max-width: 60%;
  position: relative;
  transition: filter 0.2s;
}

.blurred {
  filter: blur(2px);
}

.chat-bubble.User {
  background-color: #7289da;
  color: #000000;
  text-align: left;
  margin-left: 10px;
  margin-right: 5px;
  padding-right: 15px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.chat-bubble.Ditto {
  background-color: #99aab5;
  color: #000000;
  text-align: left;
  margin-right: 10px;
  margin-left: 5px;
  padding-left: 15px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.sender-name {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 5px;
  color: #2f3031;
}

.message-text {
  font-size: 14px;
  color: #000000;
}

.chat-image {
  max-width: 100%;
  height: auto;
  width: 95%;
  height: 95%;
  margin-top: 10px;
  border-radius: 10px;
  padding-left: 0.2em;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.chat-image:hover {
  transform: scale(1.01);
}

.reaction-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3941b8;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 18em;
  z-index: 10;
}

.action-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3941b8;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 12.0em;
  z-index: 11;
  margin-left: -30px;
}

.image-action-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #3941b8;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  width: 12em;
  z-index: 12;
}

.emoji-button, .action-button, .image-action-button {
  background: none;
  border: none;
  font-size: 1.3em;
  cursor: pointer;
  transition: transform 0.2s;
  color: white;
}

.emoji-button:hover, .action-button:hover, .image-action-button:hover {
  transform: scale(1.2);
}

.reaction {
  position: absolute;
  font-size: 1.2em;
  top: -0.5em;
  right: -0.5em;
}

.reaction-badge {
  background-color: #6e6e6ed3;
  border-radius: 50%;
  padding: 3px;
  display: inline-block;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.typing-indicator {
  display: flex;
  align-items: center;
  margin-top: 10px;
  height: 20px;
}

.typing-dot {
  width: 6px;
  height: 6px;
  margin: 0 2px;
  background-color: #99aab5;
  border-radius: 50%;
  animation: bounce 0.6s infinite alternate;
  animation-delay: calc(var(--i) * 0.2s);
}

.chat-input-field {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-top: 10px;
}

.code-container {
  position: relative;
}

.code-block {
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px;
  background: #282c34;
  overflow-x: auto;
  position: relative;
}

.inline-code-container {
  display: inline-flex;
  align-items: center;
  position: relative;
}

.inline-code {
  background: #282c34;
  color: #ffffff;
  padding: 2px 5px;
  border-radius: 5px;
  font-family: 'Courier New', Courier, monospace;
}

.copy-button {
  margin-left: 5px;
  background-color: #3c3f45;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s, transform 0.2s;
  padding: 2px 8px;
  font-size: 12px;
}

.copy-button:hover {
  background-color: #2c2f34;
}

.copy-button:active {
  background-color: #2c2f34;
  transform: scale(0.95);
}

.inline-code-button {
  position: static;
  margin-left: 5px;
}

.code-block-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 10px;
  border-radius: 5px;
}

.copied-notification {
  position: fixed;
  bottom: 6.0em;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 128, 0, 0.75);
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Disable text selection for touch devices (usually mobile) */
@media (pointer: coarse) {
  .chat-bubble {
    user-select: none;
  }
}